<template name="admin">
  {{#if loggedIn}}
  <nav class="navbar navbar-inverse navbar-embossed navbar-lg navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="/images/icons/logo.png">
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        {{> lines}}

        <li>
          <a href="#" class="log-out"><span class="fui-exit" title="Log out"></span></a>
        </li>
      </ul>
    </div>
  </nav>

  {{> adminMap}}

  {{> newStation}}
  {{> newLine}}

  {{> lines}}

  <div class="sidebar">
    {{> selectedStation}}
    {{> newLinePanel}}
  </div>
  {{else}}
  <div class="log-in-panel">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="/images/icons/logo.png" alt="Nis Transit" class="log-in-logo"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <h3>Welcome to Nis Transit App</h3>
          <p>To continue please log in with your Google account.</p>
          <hr>
          <!-- In case that Google reauthorization is required use this login buttons
          <div class="hidden">
            {{> loginButtons}}
          </div> -->
          <button type="button" name="button" class="log-in btn btn-lg btn-danger"><span class="fui-google-plus"></span> Log in with Google</button>
        </div>
        <div class="col-sm-5">
          <img src="/images/icons/bus-stop.jpg" alt="Bus line" class="img-responsive img-circle center-block">
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>
