<template name="lines">
  <li class="dropdown lines">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      {{#if selectedLine}}
        {{selectedLine}}
      {{else}}
        <span class="fui-cmd"></span> Line
      {{/if}}
      {{#if lines}}
      <span class="caret"></span>
      {{/if}}
    </a>
    {{#if lines}}
    <ul class="dropdown-menu">
      {{#each line in lines}}
      <li><a href="#{{line}}">{{line}}</a></li>
      {{/each}}
    </ul>
    {{/if}}
  </li>
  <li >
    <a href="#" class="selected-line-delete {{#unless selectedLine}}disabled{{/unless}}" title="Delete the line"><span class="fui-trash"></span></a>
  </li>
  <!--
  <div class="lines">
    <h4>Lines</h4>
    <ul>
    {{#each line in lines}}
      <li class="{{#if equals line selectedLine}}active{{/if}}">{{line}}</li>
    {{/each}}
    </ul>
    {{#if selectedLine}}
    <hr>
    <button class="btn btn-danger btn-sm btn-block selected-line-delete">Delete</button>
    {{/if}}
  </div>-->
</template>
