<template name="newLinePanel">
  <div class="panel panel-default new-line-panel">
    <div class="panel-heading">
      <h3 class="panel-title">New line</h3>
    </div>
    <div class="panel-body">
      <ul>
        {{#each station in newLine}}
        <li>{{station.name}}</li>
        {{/each}}
      </ul>
      {{#if newLine}}
      <button type="button" class="btn btn-primary btn-block new-line-create" data-toggle="modal" data-target=".new-line">Create New Line</button>
      {{/if}}
    </div>
  </div>
</template>
