<template name="newLinePanel">
  <div class="new-line-panel {{#if newLine}}active{{/if}}">
    <strong>New line</strong>
    <ul>
      {{#each station in newLine}}
      <li>
        <span class="fui-radio-unchecked"></span>
        {{station.name}}</li>
      {{/each}}
    </ul>
    <footer>
      <div class="btn-group" role="group" aria-label="New line actions">
        <button type="button" class="btn btn-primary new-line-create {{#unless containsMoreThanOne newLine}}disabled{{/unless}}"><span class="fui-check"></span></button>
        <button type="button" class="btn btn-warning new-line-clean"><span class="fui-cross"></span></button>
      </div>
    </footer>
  </div>
</template>
