.navbar-lg .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    height: 56px;
  }
}

.log-in-panel {
  h3 {
    margin-top: 65px;
  }
}

.log-in-logo {
  height: 56px;
  width: auto;
  margin-top: 10px;
  margin-left: 6px;
  margin-bottom: 10rem;
}

.log-out {
  margin-left: 20px;
  padding-left: 40px;
  border-left: 1px solid rgba(255,255,255,0.1);
}
